/* --- POPUP --- */

body {
  /* height: 300px; */
  width: 200px;
  min-height: 200px;
  background-color: #141020;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 16px;
}

#icon {
  height: 50px;
  width: 50px;
}

#title {
  color: #b197fc;
}

#editor_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.fa {
  margin-right: 16px;
}

#elementstable {
  color: #ffffff;
  margin: 16px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.elementstable-row {
  border-bottom: 1px solid #ffffff;
}

/* Source: https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.editor_switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 21px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4c3a81;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #b197fc;
}

input:focus+.slider {
  box-shadow: 0 0 1px #b197fc;
}

input:checked+.slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 21px;
}

.slider.round:before {
  border-radius: 50%;
}

.hline {
  width: 100%;
  height: 1px;
  background-color: #b097fc8b;
  margin: 16px;
}

#elements_list {
  width: 100%;
}

.element_tile {
  width: 100%;
  /* background-color: #b097fc1b; */
  border-radius: 4px;
  color: #fff;
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.element_txt {
  margin-right: auto;

}

.element_btn {
  background-color: transparent;
  border: none;
  padding: 0;
  padding-bottom: 6px;
}

.mdi_icon {
  fill: #ffffffb4;
  transition: fill 0.3s ease;
}

.mdi_icon:hover {
  fill: #ffffffde;
}

.del_icon:hover {
  fill: #ffb7b7b4;
}

/* From Uiverse.io by vinodjangid07 */
#clear_button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #b097fc30;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-top: 16px;
  transition-duration: .3s;
}

.clear_svg_icon {
  width: 12px;
  transition-duration: .3s;
}

.clear_svg_icon path {
  fill: white;
  transition-duration: .3s;
}

#clear_button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

#clear_button:hover .clear_svg_icon {
  width: 50px;
  transition-duration: .3s;
  transform: translateY(55%);
}

#clear_button::before {
  position: absolute;
  top: -20px;
  content: "Clear cache";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

#clear_button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(25px);
  transition-duration: .3s;
}

/**/

#tab_div {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 8px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 100%;
}

#tab_favicon {
  height: 18px;
}

#tab_title {
  color: #ffffffbb;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  max-lines: 1;
  text-overflow: ellipsis;
}

.no_child_label {
  color: #fff;
  font-size: 12px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
}
