/* --- PAGE --- */

.page_element_hovered {
  background-color: #b097fc87;
  outline: #b097fc dashed 2px;
}

.page_element_saved {
  background-color: #97fce187;
  outline: #6ef3b1 dashed 2px;
}

.body_selection_mode {
  outline: #b097fc solid 2px;
}

.cachableui_overlay {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: #b097fc solid 2px;
  box-sizing: border-box;
}

.cachableui_overlay_content {
  color: white;
  background-color: #957fd6;
  z-index: 1000;
  margin: 8px;
  font-size: 12px;
  border-radius: 50vh;
  font-weight: bold;
  pointer-events: auto;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

.cachableui_overlay_button {
  background-color: transparent;
  border: none;
  padding: 0;
  padding-bottom: 6px;
}

.mdi_icon {
  fill: #fff;
  /* size: 24px; */
}