/* --- PAGE --- */

/* .page_element_hovered {
  background-color: #b097fc87;
  outline: #b097fc dashed 2px;
}

.page_element_saved {
  background-color: #97fce187;
  outline: #6ef3b1 dashed 2px;
} */

.box_hovered {
  background-color: #9f7fff87;
  outline: #8666e4 dashed 2px;
  position: absolute;
  z-index: 1000001;
}

.box_saved {
  background-color: #76d8bea3;
  outline: #61e3a2 solid 2px;
  position: absolute;
  z-index: 1000002;
}

.svg_saved {
  width: 64px;
  height: 64px;
  max-width: 90%;
  max-height: 90%;
  aspect-ratio: 1;
  fill: rgba(255, 255, 255, 0.622);
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
}

.svg_hovered_saved {
  width: 70px;
  height: 70px;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1;
  fill: rgba(255, 255, 255, 0.622);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.label_saved {
  color: #fff;
  background-color: #50c48ae0;
  border-radius: 0 0 4px 0;
  padding: 2px 4px;
  font-family: sans-serif;
  position: absolute;
  /* transform: translateY(-100%); */

  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  max-height: 90%;
  max-width: 40%;
  font-size: 90%;
}

.body_selection_mode {
  outline: #b097fc solid 2px;
}

/* .cachableui_overlay {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: #b097fc solid 2px;
  box-sizing: border-box;
}

.cachableui_overlay_content {
  color: white;
  background-color: #957fd6;
  z-index: 1000;
  margin: 8px;
  font-size: 12px;
  border-radius: 50vh;
  font-weight: bold;
  pointer-events: auto;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

.cachableui_overlay_second {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.cachableui_overlay_button {
  background-color: transparent;
  border: none;
  padding: 0;
  padding-bottom: 6px;
} */


.cachableui_root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.cachableui_overlay_second {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.mdi_icon {
  fill: #fff;
  /* size: 24px; */
}
